body 
	cursor: pointer
	background-color: rgba(51, 173, 84, 0.64)
	background: -moz-linear-gradient(-45deg,  rgba(191,210,85,1) 0%, rgba(142,185,42,1) 43%, rgba(114,170,0,1) 67%, rgba(158,203,45,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg,  rgba(191,210,85,1) 0%,rgba(142,185,42,1) 43%,rgba(114,170,0,1) 67%,rgba(158,203,45,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg,  rgba(191,210,85,1) 0%,rgba(142,185,42,1) 43%,rgba(114,170,0,1) 67%,rgba(158,203,45,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfd255', endColorstr='#9ecb2d',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	font-family: 'Anonymous Pro',sans-serif
	-webkit-filter: saturate(3)
	filter: saturate(3)

	.loaded-body
		background-color: white !important
		background: white !important

.ministry-cyrillic-thing
	width: 100vw
	height: 100vh
	font-family: 'Anonymous Pro', sans-serif
	font-size: 8vw
	bottom: 1rem
	padding: 2rem
	position: absolute
	top: 33vh

.ministry-logo-top
	position: absolute
	top: 0
	left: 0
	max-width: 75vw
	max-height: 4rem

.ministry-splash-box
	position: absolute
	overflow-x: hidden
	// top: 5rem
	background-image: url("../img/power1g.png")
	background-repeat: no-repeat
	background-position: top
	background-size: contain
	width: 99vw
	max-width: 99vw
	height: calc(100vh - 12rem)
	cursor: pointer
	transition: all 1s ease-in
	transform: rotate(-30deg)

.unrotate
	transform: rotate(0deg)
	filter: contrast(22)

.ministry-title-name
	font-family: 'VT323', sans-serif
	font-size: 6vw
	position: absolute
	height: 4rem
	max-height: 4rem
	text-align: center
	left: 10rem

	display: block
	color: green
	@media (min-width: 320px)
		display: none
	@media (min-width: 360px)
		display: block
	@media (min-width: 800px)
		font-size: 2vw

.ministry-options
	font-family: 'VT323', sans-serif
	font-weight: 500
	position: absolute
	bottom: 5rem
	width: 100%
	@media(max-width: 360px)
		bottom: 1rem

	.option-row
		display: flex
		width: 100%
		flex-wrap: nowrap
		justify-content: space-around
		// border-bottom: 1px solid $jass-shade
		height: 2.8rem
		padding-left: 2rem
		padding-right: 2rem
		@media(orientation: portrait)
			height: 5rem
			padding-left: 1rem 
			padding-right: 1rem 
		span
			font-size: 3rem
			flex: 1
			text-align: center
			&:hover
				color: green
				// background: rgba(0,0,0,.3)
				// border-bottom: 1px solid $jass-shade
				font-weight: 600

.green-base
	border-bottom: .3rem solid $jass-green
